<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/categories.home.css">
    <link rel="stylesheet" href="/assets/styles/comments.popup.home.css">
    <link rel="stylesheet" href="/assets/styles/posts.home.css">
    <link rel="stylesheet" href="/assets/styles/responsive.home.css">
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/nav.global.css">
    <link rel="stylesheet" href="/assets/styles/buttons.global.css">
    <link rel="stylesheet" href="/assets/styles/dropdown.global.css">
    <link rel="stylesheet" href="/assets/styles/responsive.global.css">
    <title>echoHub - Home</title>
</head>

<body style="overflow-y: scroll;">
    <nav>
        <a href="/" class="logo">
            <img src="/assets/imgs/echoHub-Logo_SM-Purple.png" alt="echoHub-Comunnity Logo">
        </a>
        <a href="/create-post"><button class="create"><img src="/assets/imgs/create.png"></i>Create
                Post</button></a>
        <div class="profile-dropdown">
            <div class="profile-picture-container">
                <img class="profile-picture" src="/assets/imgs/avatar.png" alt="Profile Picture" loading="lazy">
            </div>
            <div class="dropdown">
                <img src="/assets/imgs/avatar.png" alt="Profile Picture">
                <h2>@unkind<br><span>unkind@mail.com</span></h2>
                <hr>
                <div class="dropdown-content">
                    <a href="#">Profile Settings</a>
                    <a href="#">Dark Mode (coming soon)</a>
                    <hr>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </div>

        <a href="register.html"><button class="register"><img src="/assets/imgs/register.png">Register</button></a>
        <a href="login.html"><button class="login">Login</button></a>
    </nav>
    <div class="wraper">
        <ul class="categories">
            <li class="category">
                <input type="radio" id="category22" name="categoryElement" checked>
                <label for="category22"><img src="/assets/imgs/categories-Icons/all.png">All</label>
            </li>
            {{range .}}
            <li class="category">
                <input type="radio" id="category{{.ID}}" name="categoryElement">
                <label for="category{{.ID}}"><img src="{{.CategoryIconPath}}">{{.CategoryName}}</label>
            </li>
            {{end}}
        </ul>
    </div>
</body>

</html>