<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EchoHub Community</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/styles/home.css">
</head>

<body>
  <header>
    <div class="logo">
      <a href="/">
        <img src="/assets/img/logo.png">
      </a>
    </div>
    <div class="buttons">
      <a href="/register" class="button register"><img src="/assets/img/register.png" alt="Register Icon"
          class="icon" />Register</a>
      <a href="/login" class="button">Login</a>
    </div>
  </header>

  <main>

    <div class="filter-bar-wrapper">
      <div class="filter-bar">
        <button class="filter active">All</button>
        <button class="filter">Movies & Streaming</button>
        <button class="filter">Music & Playlists</button>
        <button class="filter">Gaming & E-Sports</button>
        <button class="filter">Books & Reads</button>
        <button class="filter">Tech</button>
        <button class="filter">Art & Design</button>
        <button class="filter">Science</button>
        <button class="filter">Education</button>
        <button class="filter">Lifestyle</button>
      </div>
    </div>

    <div class="all-posts">
      {{range .}}
      <div class="post">
        <div class="user-info">
          <img src="/assets/img/user.png" alt="User Avatar" class="avatar">
          <div class="nick-time">
            <div class="nickname">Golangingya</div>
            <p class="time">5 min ago</p>
          </div>
        </div>
        <div class="Textblock">
          <h2>{{.Title}}</h2>
          <p>{{.Post_content}}</p>
        </div>
        <div class="Submenu">
          <div class="tags">
            <span>Dev & Code Talk</span>
            <span>AI & The Future</span>
            <span>Web & App Dev Trends</span>
          </div>
          <div class="actions">
            <button class="icon-btn" id="like-btn">
              <img src="/assets/img/like.png" alt="thumbs up" class="icon"> <span id="like-count">125</span>
            </button>
            <button class="icon-btn" id="dislike-btn">
              <img src="/assets/img/dislike.png" alt="thumbs down" class="icon"> <span id="dislike-count">15</span>
            </button>
            <button class="icon-btn" id="comment-btn">
              <img src="/assets/img/comment.png" alt="comments" class="icon"> <span id="comment-count">65</span>
            </button>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </main>


</body>

</html>