<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/post-create.css">
    <link rel="stylesheet" href="/assets/styles/style.global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <title>echoHub</title>
</head>

<body>
    <nav>
        <a href="/" class="logo">
            <h1>echoHub</h1>
        </a>
        <a href="/post"><button class="create"> <i class="fa-regular fa-square-plus"></i> Create</button></a>
        <a href="profile.html"><img class="profile-picture" src="/assets/img/user.png"></a>
        <a href="register.html"><button class="register"><i class="fa fa-user-plus"></i> Register</button></a>
        <a href="login.html"><button class="login">login</button></a>
    </nav>
    <form class="wraper wraper-extra" action="/post/update/edit?ID={{.ID}}" method="POST">
        <ul class="categories">
            {{range .Categories}}
            <li class="category">
                <input type="checkbox" id="category_{{.CategorieName}}" name="categories[]" value="{{.CategorieName}}">
                <label for="category_{{.CategorieName}}">
                    <i class="fa fa-gamepad"></i>&nbsp;{{.CategorieName}}
                </label>
            </li>
            {{end}}
        </ul>
        <div class="post-inputs">
            <label for=""><input placeholder="Post Title" type="text" name="title" value="{{.Title}}" required></label>
            <textarea id="" placeholder="Type Something here..." name="content" required>{{.Content}}</textarea>
            <button type="submit"><i class="fas fa-paper-plane"></i> Update</button>
        </div>
        </div>


        <script>
            const selected = {{.Categories_selected }};
            const categories = document.querySelectorAll('[id^="category_"]');
            categories.forEach(category => {
                if (selected.includes(category.value)) {
                    category.setAttribute("checked", "true")
                }
            });
        </script>

</body>

</html>