<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/nav.global.css">
    <link rel="stylesheet" href="/assets/styles/buttons.global.css">
    <link rel="stylesheet" href="/assets/styles/dropdown.global.css">
    <link rel="stylesheet" href="/assets/styles/responsive.global.css">
    <link rel="stylesheet" href="/assets/styles/profile-settings.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>echoHub - Profile Settings</title>

</head>

<body>
    <nav>
        <a href="/" class="logo">
            <img src="/static/imgs/echoHub-Logo_SM-Purple.png" alt="echoHub-Comunnity Logo">
        </a>
        <a href="post-create.html"><button class="create"><img src="/assets/imgs/create.png"></i>Create
                Post</button></a>
        <div class="profile-dropdown">
            <div class="profile-picture-container">
                <img class="profile-picture" src="/assets/imgs/avatar.png" alt="Profile Picture" loading="lazy">
            </div>
            <div class="dropdown">
                <img src="/assets/imgs/avatar.png" alt="Profile Picture">
                <h2>{{.UserName}}<br><span>{{.Email}}</span></h2>
                <hr>
                <div class="dropdown-content">
                    <a href="/profile-settings">Profile Settings</a>
                    <a href="">Dark Mode (coming soon)</a>
                    <hr>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="wraper">
        <div class="edit">
            <div class="user-info-1">
                <img src="./imgs/avatar.png" alt="">
                <h3>Username <br> <span>Email</span></h3>
            </div>
            </form>
            <div class="user-info-edit">
                <form action="" method="">
                    <div class="input-group">
                        <label for="">Username</label>
                        <input type="text" placeholder="">
                        <label for="">Email</label>
                        <input type="text" placeholder="">
                        <label for="">Language <span>(we’re working on adding new languages)</span></label>
                        <select>
                            <option value="english" selected>English</option>
                        </select>
                        <label for="">New Password</label>
                        <input type="password" placeholder="">
                        <label for="">Confirm New Password</label>
                        <input type="password" placeholder="">
                    </div>

                    <button class="update"><i class="fa-solid fa-rotate"></i>&emsp;Update</button>
            </div>
        </div>
    </div>

</body>

</html>