<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/categories.post-creation.css">
    <link rel="stylesheet" href="/assets/styles/post-input.post-creation.css">
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/dropdown.global.css">
    <link rel="stylesheet" href="/assets/styles/responsive.global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>echoHub - Post Update</title>
</head>

<body>
    <nav>
        <a href="/">
            <img src="/assets/imgs/echoHub-Logo_SM-Purple.png" alt="echoHub-Comunnity Logo">
        </a>
        <div id="profile-dropdown">
            <div id="profile-picture-container">
                <img id="profile-picture" src="/assets/imgs/avatar.png" alt="Profile Picture" loading="lazy">
            </div>
            <div id="dropdown">
                <img id="inner-profile-picture" src="/assets/imgs/avatar.png" alt="Profile Picture">
                <h2>@{{.User.UserName}}<br><span>{{.User.Email}}</span></h2>
                <hr>
                <div id="dropdown-content">
                    <a href="/profile-settings"><img src="/assets/imgs/settings.png"> Profile Settings</a>
                    <a href="#"><img src="/assets/imgs/dark-mode.png"> Dark Mode (coming soon)</a>
                    <a href="https://tally.so/r/wd80WD" target="_blank"><img src="/assets/imgs/report.png"> Report</a>
                    <hr>
                    <a href="/logout"><img src="/assets/imgs/logout.png"> Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="wraper wraper-extra" id="{{.Post_info.PostId}}">
        <ul id="categories">
            {{range .Categories}}
            <li id="category">
                <input type="checkbox" id="category{{.ID}}" value="{{.CategoryName}}" name="categoryElement">
                <label for="category{{.ID}}"><img src="{{.CategoryIconPath}}">{{.CategoryName}}</label>
            </li>
            {{end}}
        </ul>
        <div id="post-inputs">
            <input type="text" id="post-title" placeholder="Post Title *" value="{{.Post_info.PostTitle}}"
                maxlength="70" required>
            <p id="errMsgs" style="color: red;"></p>
            <textarea id="content" placeholder="Type Something here..." maxlength="5000"
                required>{{.Post_info.PostContent}}</textarea>
            <button id="updatePost" ><i class="fas fa-paper-plane"></i>&ensp;Update</button>
        </div>
    </div>
    <script>
        const selected = []
        { { range.Post_info.PostCategories } }
        selected.push("{{.}}")
        { { end } }
    </script>
    <script src="/assets/scripts/updatePost.js" type="module"></script>
</body>

</html>