#profile-dropdown {
    position: relative;
    display: inline-block;
}

#profile-picture-container {
    position: relative;
    width: 55px;
    height: 55px;
}

#profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#profile-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--primary-color);
}

#profile-picture-container::after {
    content: '';
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
    z-index: 1;
}

#dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}


#inner-profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 20px auto 10px;
    border: 3px solid var(--primary-color);
}

#dropdown h2 {
    font-size: 16px;
    text-align: center;
    margin: 0 0 15px;
    color: #333;
    font-weight: 600;
}

#dropdown h2 span {
    font-size: 12px;
    color: #999;
    display: block;
    margin-top: 5px;
    font-weight: 400;
}

#dropdown hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
}

#dropdown-content a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
#dropdown-content a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#dropdown-content a:hover {
    background-color: var(--border-color);
    color: #000;
}

#dropdown-content a:last-child {
    color: red;
}

#dropdown-content a:last-child:hover {
    background-color: red;
    color: #fff;
}


#dropdown-content a:last-child:hover img {
    filter: brightness(0) invert(1);
}

#dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}