:root {
    --primary-color: #8552ff;
    --secondary-color: #808080;
    --hover-color: #D7A7FE;
    --bg-color: #FAFAFA;
    --secondary-bg-color: #EAEAEA;
    --border-color: #DDDDDD;
}

*:not(nav) {
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: var(--bg-color);
}

a,
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    position: sticky; 
  top: 0; 
    background-color: white;
    padding: 0 30px;
    border-bottom: 1px solid var(--border-color);
    height: 85px;
    z-index: 5;
}

nav a:first-child {
    flex-grow: 1;
}

nav img {
    max-width: 270px;
}

#logo {
    padding-top: 10px;
}

.wraper {
    margin: auto;
    width: 850px;
}

#register,
#login,
#cancel,
#create,
#update {
    padding: 11px 20px;
    font-weight: 600;
    border: transparent;
    border-radius: 512px;
    transition: background-color 0.3s ease;
}

#register,
#create,
#update {
    margin: 0 15px;
    color: white;
    background-color: var(--primary-color);
}

#register:hover,
#create:hover,
#update:hover {
    background-color: var(--hover-color);
}

#login,
#cancel {
    margin: 0 5px;
    color: var(--primary-color);
    background-color: var(--border-color);
}

#login:hover,
#cancel:hover {
    background-color: var(--secondary-color);
    color: white;
}

#create img,
#update img,
#cancel img,
#register img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: text-top;
}

#post {
    position: relative;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    padding: 25px;
    margin-bottom: 30px;


}

#post pre {
    margin-top: 5px;
    white-space: pre-wrap;
}

#availabilityMsg {
    margin: auto;
    text-align: center;
    color: var(--secondary-color);
}

#seperator {
    text-align: center;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 600;
}

.wraper hr {
    width: 40%;
    margin: auto;
    color: var(--secondary-bg-color);
    border-radius: 50px;
}

#error-code,
#error-message,
#message {
    margin-bottom: 15px;
}

#error-code {
    font-family: "Bagel Fat One", serif;
    font-style: normal;
    margin-top: 115px;
    font-size: 10rem;
    font-weight: 900;
    color: var(--primary-color);
}

#error-message {
    color: var(--primary-color);
    font-size: 26px;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.errPopup {
    position: fixed;
    /* top: 100px; */
    right: 20px;
    background-color: red;
    color: white;
    padding: 10px 30px 10px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.close-btn:hover {
    color: #ccc;
}

#moreContent {
    display: none;
}


#moreBtn {
    margin-top: 10px;
    padding: 1px 8px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 512px;
    font-weight: 100;
    background-image: linear-gradient(45deg, #8552ff 0%, #D7A7FE 51%, #8552ff 100%);
    cursor: pointer;
}

#moreBtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#moreBtn:active {
    transform: scale(0.95);
}

#textContent {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word !important;
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
}


#post-title{
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word !important;
}