:root {
    --primary-color: #8552ff;
    --secondary-color: #808080;
    --hover-color: #D7A7FE;
    --bg-color: #FAFAFA;
    --secondary-bg-color: #EAEAEA;
    --border-color: #DDDDDD;
}

* {
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.1s;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg-color);
}

a,
button {
    cursor: pointer;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

h5 {
    color: var(--secondary-color);
}

.wraper {
    margin: 30px auto;
    width: 850px;
}
