ul.categories {
    display: flex;
    justify-content: start;
    overflow-x: hidden;
    margin: 25px 0;
}

.category input[type=checkbox]+label {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    font-size: 18px;
    border: transparent;
    padding: 5px 20px;
    border-radius: 512px;
    cursor: pointer;
    overflow: hidden;
}

.category input[type=checkbox] {
    display: none;
}

.category input[type=checkbox]:checked+label {
    color: white;
    background-color: var(--primary-color);
}

li.category label {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 5px;
}

li.category {
    list-style: none;
}

.post {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    padding: 30px;
    margin: 30px 0px;
}

.post-info-1 {
    display: flex;
    align-items: center;
}

.post-info-1 img {
    width: 55px;
    height: 55px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin: 0 25px;
}

.post-info-1 h3 {
    font-size: 18px;
}

.post-info-1 h3 span {
    font-size: 14px;
    color: var(--secondary-color);
}

.post-info-2 p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
}

.post-info-2 {
    margin: 25px;
}

.post-actions {
    display: flex;
    align-items: center;
}

.post-actions a {
    padding: 5px 25px;
    margin: 25px;
    border-radius: 512px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
}

.post-actions button {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: transparent;
    border: transparent;
}

.post-actions .on-click:focus {
    color: var(--primary-color);
}



@media (max-width: 610px) {
    .post {
        padding: 10px 10px;
    }

    .post-actions a {
        display: none;
    }

    .post-actions button {
        padding: 14px;
    }

    .category input[type=checkbox]+label {
        padding: 5px 12px;
        font-size: 14px;
    }
}