
  .loader-container {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* width: 100vw; */
}

  .dot {
    height: 30px;
    width: 30px;
    margin-right: 30px;
    border-radius: 512px;
    background-color: var(--hover-color);
    animation: pulse 2s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: var(--primary-color);
      box-shadow: 0 0 0 0 var(--hover-color);
    }
  
    50% {
      transform: scale(1.2);
      background-color: var(----hover-color);
      box-shadow: 0 0 0 10px rgba(133, 82, 255, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: var(--primary-color);
      box-shadow: 0 0 0 0 var(--hover-color);
    }
  }