
nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
    height: 80px;
}

nav img {
    max-width: 180px;
}

.logo {
    padding-left: 45px;
    flex-grow: 1;
    color: var(--primary-color);
}
