/* Overlay styling */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

#popup {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 375px;
}

#popup h2 {
  margin: 0 0 10px;
  color: var(--primary-color);
}

#popup p {
  margin: 0 0 20px;
  color: var(--secondary-color);
}

#popup a {
  padding: 12.5px 25px;
  border: none;
  border-radius: 512px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#popup a:hover {
  background-color: var(--primary-color);
}

#overlay.show {
  visibility: visible;
  opacity: 1;
}
