
@keyframes blink {
    0%, 100% { background-color: #f0f0f0; }
    50% { background-color: #e0e0e0; }
}

#post-placeholder {
    max-width: 90vh;
    margin: 20px auto;
    padding: 25px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
}

.post-info-placeholder-1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 512px;
    margin-right: 15px;
    margin-bottom: 10px;
    animation: blink 1.5s infinite;
}

.username-placeholder {
    
    margin-top: 10px;
    width: 120px;
    height: 25px;
    border-radius: 512px;
    animation: blink 1.5s infinite;
}

.time-placeholder {
    
    margin-top: 5px;
    width: 170px;
    height: 15px;
    border-radius: 512px;
    animation: blink 1.5s infinite;
}

.post-info-placeholder-2 {
    margin-bottom: 20px;
}

.title-placeholder {
    width: 70%;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 2px;
    border-radius: 512px;
    animation: blink 1.5s infinite;
}

.text-placeholder {
    width: 100%;
    height: 80px;
    border-radius: 30px;
    animation: blink 1.5s infinite;
}

.post-info-placeholder-3 {
    display: flex;
    justify-content: space-between;
}

.links-placeholder {
    display: flex;
    gap: 10px;
    align-items: flex-end;

    
}

.button-item-placeholder {
    width: 60px;
    height: 25px;
    border-radius: 512px;
    animation: blink 1.5s infinite;
}

.buttons-placeholder {
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.link-item-placeholder {
    width: 90px;
    height: 35px;
    border-radius: 512px;
    animation: blink 1.5s infinite;

}