#edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    width: 600px;
    padding: 25px;
    margin: 30px auto;
}

#user-info {
    display: flex;
    align-items: center;
    margin: 35px;
}

#user-info #register {
    justify-content: flex-end;
}

#user-info img {
    width: 100px;
    height: 100px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin: 0 25px;
}

#user-info-edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-group label {
    display: block;
    color: black;
    font-size: 18px;
    margin: 0 0 4px 3px;
    width: 425px;
}

#input-group label span {
    display: inline-block;
    color: var(--secondary-color);
    font-size: 12px;
    margin: 0 0 4px 3px;
}

#dropdown h2 span {
    font-size: 12px;
    color: #999;
    display: block;
    margin-top: 5px;
    font-weight: 400;
}

#input-group input,
#input-group select {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    border-radius: 512px;
    outline: 0;
    color: black;
}

#input-group input:focus {
    border-color: var(--primary-color);
}