@media screen and (min-width: 769px) and (max-width: 1024px) {
    main {
      margin: 30px;
      padding: 0;
      gap: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    main {
      margin: 10px;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    header {
      padding: 10px;
    }
  }