@media (max-width: 610px) {
    .post-inputs input[type="text"],
    .post-inputs textarea {
      width: 250px;
    }
  
    .category input[type="checkbox"] + label {
      font-size: 15px;
      padding: 5px 13px;
    }
  }
  
  @media (max-width: 430px) {
    .wraper-extra {
      width: 260px;
    }
  
    .post-inputs input[type="text"],
    .post-inputs textarea {
      width: 175px;
    }
  
    .category input[type="checkbox"] + label {
      font-size: 13px;
      padding: 3px 10px;
    }
  }