
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main h1 {
  margin-top: 100px;
  font-family: 'Bagel Fat One', sans-serif;
  font-size: 150px;
  font-weight: 500;
  text-shadow: 1px 1px 1px #979191;
  color: #8552FF;
  letter-spacing: 0.07em;

}

main h2 {
  margin-top: 20px;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #8552FF;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.07em;
}

main p {
  margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.button-back {
  margin-top: 80px;
  font-size: 28px;
  font-family: 'Roboto';

  font: 'Roboto';
  padding: 10px 20px;
  border-radius: 512px;
  text-decoration: none;
  font-weight: 500;
  color: #eaeaea;
  background-color: #8552FF;
  transition: all 0.1s;
}

.button-back:hover {
  background-color: #eaeaea;
  color: #8552FF;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  main {
    margin: 30px;
    padding: 0px;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 10px;
    padding: 0px;
    flex-direction: column;
  }

}

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
  }

}