ul.categories {
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-bottom: 75px;
}

.category input[type=checkbox]+label {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    font-size: 18px;
    border: transparent;
    padding: 10px 20px;
    border-radius: 512px;
    cursor: pointer;
    overflow: hidden;
}

.category input[type=checkbox] {
    display: none;
}

.category input[type=checkbox]:checked+label {
    color: white;
    background-color: var(--primary-color);
}

li.category label {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 5px;
}

li.category {
    list-style: none;
}

#post {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    /* border-left: 7px solid var(--primary-color); */
    padding: 25px;
    margin: 50px 0;
}

.seperator {
    text-align: center;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

hr {
    width: 40%;
    margin: auto;
    color: var(--secondary-bg-color);
    border-radius: 50px;
}

.post-info-1,
.comment-info-1,
.comment-info-2 {
    display: flex;
    align-items: center;
}

.post-info-1 img,
.comment-info-1 img {
    width: 55px;
    height: 55px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin-right: 20px;
}

.comment-info-2 img {
    width: 40px;
    height: 40px;
    border-radius: 512px;
    /* border: 3px solid var(--primary-color); */
    margin-right: 20px;
}

.post-info-1 h3,
.comment-info-1 h3,
.comment-info-2 h3 {
    font-size: 18px;
}

.post-info-1 h3 span,
.comment-info-1 h3 span,
.comment-info-2 h3 span {
    font-size: 14px;
    color: var(--secondary-color);
}

.post-info-2 p,
.comment-info-2 p {
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0 0 0;
}

.post-info-2,
.comment-info-2 {
    margin-top: 25px;
}

.post-info-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info-3 .links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.post-info-3 .buttons {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.post-info-3 a {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    border-radius: 512px;
    font-size: 18px;
    padding: 5px 20px;
}

.post-info-3 button,
#popup-comment button {
    color: var(--secondary-color);
    background-color: transparent;
    border: transparent;
    font-size: 18px;
}

#popup {
    display: none;
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;
    height: 100%;
}

#popup-content {
    display: flex;
    background-color: rgb(168, 32, 32);
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    padding: 25px;
    margin: 25px 0;
}

.close {
    background: none;
    font-size: 28px;
}

.comment {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    background: linear-gradient(to right, var(--hover-color) 7px, transparent 7px) no-repeat left center / 7px 100%;
    padding: 0px 30px;
    padding-bottom: 25px;
    margin: 25px 0;
}


#popup-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popup-comment .comment-info {
    display: flex;
    gap: 10px;
}

#popup-comment .buttons {
    display: flex;
    gap: 25px;
}

.user-comment {
    padding: 25px;
    margin: 10px 0;
}

.new-comment:hover {
    transition: 0.3s;
    background: var(--hover-color);
    cursor: pointer;
}

.new-comment:active {
    transform: translate(0em, 0.2em);
}

.comment-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment-field {
    border-radius: 30px;
    border: 2px solid var(--border-color);
    outline: none;
    resize: none;
    width: 100%;
    height: 75px;
    margin: 25px;
    padding: 15px;
}

@media (max-width: 610px) {
    .post {
        padding: 10px 10px;
    }

    .category input[type=checkbox]+label {
        padding: 5px 12px;
        font-size: 14px;
    }

    .post-info-3 {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-info-3 .links,
    .post-info-3 .buttons {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .post-info-3 a {
        font-size: 14px;
        padding: 5px 12px;
    }

    .comment {
        padding: 15px;
    }

    .comment-info-1,
    .comment-info-2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .comment-info-1 img {
        width: 45px;
        height: 45px;
    }

    .comment-info-1 h3,
    .comment-info-2 h3 {
        font-size: 14px;
    }

    .user-comment {
        padding: 0;
    }

    #comment-field {
        width: 100%;
        height: 50px;
        margin: 15px 0;
        overflow: hidden;
    }

    .comment-group {
        flex-direction: column;
        padding-bottom: 15px;
    }
}