.filter-bar {
    display: flex;
    margin: 25px 0;
    overflow: hidden;
}

.filter-bar li button {
    font-size: 18px;
    padding: 5px 20px;
    margin: 0 10px;
    border: transparent;
    border-radius: 512px;
    background-color: #EAEAEA;
    color: #808080;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-bar .selected {
    background-color: var(--primary-color);
    color: white;
}

.post {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px #DDDDDD;
    -webkit-box-shadow: 0px 0px 5px 0px #DDDDDD;
    -moz-box-shadow: 0px 0px 5px 0px #DDDDDD;
    margin: 25px auto;
    height: 225px;
}

.post-info-1 {
    display: flex;
    align-items: center;
}

.post-info-1 img {
    width: 50px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin: 0 25px;
}

.post-info-1 h3 {
    font-size: 18px;
}

.post-info-1 h3 span {
    font-size: 14px;
    color: #808080;
}

.post-info-2 p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
}

.post-info-2 {
    margin: 25px;
}

.post-actions {
    display: flex;
    align-items: center;
}

.post-actions a {
    padding: 5px 25px;
    margin: 25px;
    border-radius: 512px;
    background-color: #EAEAEA;
    color: #808080;
}

.post-actions button {
    flex-grow: 1;
    font-size: 16px;
    color: #808080;
    background-color: transparent;
    border: transparent;
}

@media only screen and (max-width: 750px
) {
    .post {
        width: 400px;
    }
}