* {
    font-family: "Ubuntu", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}



li, a {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
}

nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--border-color);
    height: 84px;
}

.logo {
   font-size: 30px; 
   padding: 0;
}

.logo span {
    font-size: 16px;
    text-align: center;
    padding: 0;
}

.register {
    width: 113px;
    height: 38px;
    margin: 0 15px;
    color: white;
    font-weight: 500;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 512px;
}

.login {
    width: 72px;
    height: 38px;
    margin: 0 20px;
    color: var(--primary-color);
    font-weight: 500;
    background-color: var(--border-color);
    border: transparent;
    border-radius: 512px;
}

nav a {
    padding-left: 45px;
    flex-grow: 1;
}

.wraper {
    margin: auto;
    width: 750px;
}

.filter-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: chartreuse;
    margin-top: 50px;
}

.filter-bar li a {
    background-color: cadetblue;
    padding: 5px 25px;
    margin: 0 10px;
    border-radius: 30px;
}

.post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: wheat;
    border-radius: 30px;
    margin: 25px 0;
}

.post img {
    width: 50px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin: 25px;
}

.post-info-1 {
    display: flex;
    align-items: center;
}

.post-info-2 {
    margin: 25px;
}

.post-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
