.wraper-extra {
  padding: 30px 0;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px var(--border-color);
}

.category input[type=checkbox]+label {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  font-size: 18px;
  border: transparent;
  padding: 5px 20px;
  border-radius: 512px;
  cursor: pointer;
}

.category input[type=checkbox] {
  display: none;
}

.category input[type=checkbox]:checked+label {
  color: white;
  background-color: var(--primary-color);
}

ul.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

li.category label {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 5px;
}

li.category {
  list-style: none;
}

.post-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.post-inputs input[type="text"] {
  
  width: 700px;
  padding: 16px;
  border: 1px solid var(--border-color);
  padding: 12px 16px;
  margin: 20px;
  border-radius: 512px;
}

.post-inputs textarea {
  width: 700px;
  height: 350px;
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  min-height: 150px;
  margin-bottom: 20px;

  font-family: inherit;
  resize: none;
}

.post-inputs input:focus,
.post-inputs textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0px 0px 5px 0px var(--border-color);
}

.post-inputs button {
  margin-top: 15px;
    padding: 11px 20px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 512px;
}
.post-inputs button:hover {
  background-color: var(--hover-color);
}


@media (max-width:610px) {

  .post-inputs input[type="text"],
  .post-inputs textarea {
    width: 250px;
  }

  .category input[type="checkbox"]+label {
    font-size: 15px;
    padding: 5px 13px;
  }
}

@media (max-width:430px) {
  .wraper {
    width: 260px;
  }

  .post-inputs input[type="text"],
  .post-inputs textarea {
    width: 175px;
  }

  .category input[type="checkbox"]+label {
    font-size: 13px;
    padding: 3px 10px;
  }
}