.edit {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    padding: 25px;
    margin: 10px 0;
}

.user-info-1 {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.user-info-1 .register {
    justify-content: flex-end;
}

.user-info-1 img {
    width: 100px;
    height: 100px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin-right: 25px;
}

.user-info-edit form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group {
    width: 100%;
}

.input-group label {
    display: block;
    color: black;
    margin-bottom: 4px;
    margin-left: 3px;
    font-size: 18px;
}

.input-group input {
    width: 100%;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    padding: 12px 16px;
    margin-bottom: 10px;
    outline: 0;
    color: var(--border-color);
    border-radius: 512px;
}

.input-group input:focus {
    border-color: var(--primary-color);
}

.button-container button {
    width: 80px;
    height: 38px;
    margin: 15px 0;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 512px;
}