:root {
    --primary-color: #8552ff;
    --secondary-color: #808080;
    --hover-color: #D7A7FE;
    --bg-color: #FAFAFA;
    --secondary-bg-color: #EAEAEA;
    --border-color: #DDDDDD;
}

* {
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Ubuntu", serif;
}

nav h1 {
    font-family: "League Spartan", serif;
    font-size: 56px;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
}

h5 {
    color: #808080;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
    height: 80px;
}

.logo {
    padding-left: 45px;
    flex-grow: 1;
    color: var(--primary-color);
}

.register {
        margin: 0 15px;
        padding: 11px 20px;
        color: white;
        font-weight: 600;
        background-color: var(--primary-color);
        border: transparent;
        border-radius: 512px;
    }

.register:hover,
.create:hover,
.update:hover {
    background-color: var(--hover-color);
}


.login {
    /* width: auto;
    height: auto; */
    margin: 0 5px;
    padding: 11px 20px;
    color: var(--primary-color);
    font-weight: 600;
    background-color: var(--border-color);
    border: transparent;
    border-radius: 512px;
}

.login:hover {
    background-color: var(--secondary-color);
    color: white;
}

.create {
    margin: 0 15px;
    padding: 11px 20px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 512px;
}

.update {
    margin-top: 15px;
    padding: 11px 20px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 512px;
}

.new-comment {
    margin: 0 15px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 512px;
}

.profile-picture {
    position: relative;
    display: inline-block;
}

.profile-picture img {
    width: 55px;
    height: 55px;
    margin-left: 15px;
    border-radius: 50%;
}

.profile-picture::after {
    content: '';
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: 0;
    right: 0;
}
.wraper {
    margin: 50px auto;
    width: 850px;
}

@media (max-width: 900px) {
    .wraper {
        width: 680px;
    }
}

@media (max-width: 768px) {
    nav h1 {
        font-size: 42px;
    }

    .logo {
        padding-left: 25px;
    }

    .login,
    .register,
    .create,
    .profile-picture {
        display: none;
    }

    .wraper {
        width: 90%;
    }
}

@media (max-width: 720px) {
    nav h1 {
        font-size: 36px;
    }

    .wraper {
        width: 600px;
    }
}

@media (max-width: 610px) {
    nav h1 {
        font-size: 28px;
    }

    .wraper {
        width: 390px;
    }
}

@media (max-width: 430px) {
    nav h1 {
        font-size: 24px;
    }

    .wraper {
        width: 280px;
    }
}

@media (max-width: 360px) {
    nav h1 {
        font-size: 20px;
    }

    .wraper {
        width: 90%;
    }

    .logo {
        padding-left: 15px;
    }
}

@media (max-width: 240px) {
    nav h1 {
        font-size: 16px;
    }

    .logo {
        padding-left: 10px;
    }

    .wraper {
        width: 95%;
    }

    .register,
    .login,
    .create,
    .update,
    .new-comment {
        width: 80px;
        height: 30px;
        font-size: 12px;
        margin: 0 5px;
    }

    .profile-picture {
        width: 40px;
        height: 40px;
    }
}