#comments-section {
    height: 30vh;
    overflow-y: auto;
}

#user-post-info,
#user-comment-info {
    display: flex;
    align-items: center;
}

#user-post-info img,
#user-comment-info img {
    width: 55px;
    height: 55px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin-right: 20px;
}

#user-post-info h3,
#user-comment-info h3 {
    font-size: 18px;
}

#user-post-info h3 span,
#user-comment-info h3 span {
    font-size: 14px;
    color: var(--secondary-color);
}

#post-body p,
#user-comment-info p {
    font-size: 16px;
    font-weight: 100;
    margin: 5px 0 0 0;
    color: #5B5B66;
}

#post-body,
#user-comment-info {
    margin-top: 25px;
}

#post-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post-categories #links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#post-categories #buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#post-categories li {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    border-radius: 512px;
    font-size: 18px;
    padding: 5px 20px;
    cursor: default;
}

#post-categories button,
#user-info-and-buttons button {
    color: var(--secondary-color);
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#post-categories button img,
#user-info-and-buttons button img {
    width: 20px;
    height: 20px;
    filter: invert(50%);
    vertical-align: middle;
}

#popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 100;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 101;
    padding: 0px 25px;
}

#close {
    background: none;
    font-size: 28px;
}

#comment {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    width: 98%;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    background: linear-gradient(to right, var(--hover-color) 7px, transparent 7px) no-repeat left center / 7px 100%;
    padding: 0px 25px 25px 25px;
    margin: 25px 0;
}

#user-info-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-info-and-buttons #comment-info {
    display: flex;
    gap: 10px;
}

#user-info-and-buttons #buttons {
    display: flex;
    gap: 15px;
}

#buttons button img {
    width: 20px;
    height: 20px;
    filter: invert(50%);
    transition: transform 0.2s, filter 0.2s;
}

#buttons button#active img {
    filter: invert(58%) sepia(61%) saturate(2878%) hue-rotate(230deg) brightness(102%) contrast(101%);
}

#buttons button:active {
    transform: scale(1.2);
}

#user-comment {
    padding: 0px 15px;
    margin-top: 30px;
}

#comment-group {
    position: relative;
    width: 100%;
}

#comment-field {
    border-radius: 30px;
    border: 2px solid var(--border-color);
    outline: none;
    resize: none;
    width: 100%;
    height: 75px;
    margin-top: 10px;
    padding: 15px 50px 15px 15px;
    /* Add padding to the right to make space for the button */
    box-sizing: border-box;
    overflow: hidden;
}

#new-comment {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 512px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#new-comment:hover {
    background-color: var(--hover-color);
    transition: 0.3s;
}

#new-comment:active {
    transform: translate(0px, 2px);
}