nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 30px;
    border-bottom: 1px solid var(--border-color);
}

nav a:first-child {
    flex-grow: 1;
}

nav img {
    max-width: 180px;
}

#logo {
    padding-top: 10px;
}