.post-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
  }
  
  .post-inputs input[type="text"],
  .post-inputs textarea {
    width: 700px;
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 512px;
    font-family: inherit;
    outline: none;
  }
  
  .post-inputs textarea {
    height: 250px;
    min-height: 150px;
    border-radius: 16px;
    resize: none;
  }
  
  .post-inputs input:focus,
  .post-inputs textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--border-color);
  }
  
  .post-inputs button {
    margin-top: 15px;
    padding: 11px 20px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 512px;
    cursor: pointer;
  }
  
  .post-inputs button:hover {
    background-color: var(--hover-color);
  }
  
  .post-inputs img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
  }