#post {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    padding: 25px;
    margin-bottom: 30px ;
}

#seperator {
    text-align: center;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.wraper hr {
    width: 40%;
    margin: auto;
    color: var(--secondary-bg-color);
    border-radius: 50px;
}