#edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--border-color);
    padding: 25px;
    margin: 10px 0;
}

#user-info-1 {
    display: flex;
    align-items: center;
    margin: 35px;
}

#user-info-1 #register {
    justify-content: flex-end;
}

#user-info-1 img {
    width: 100px;
    height: 100px;
    border-radius: 512px;
    border: 3px solid var(--primary-color);
    margin-right: 25px;
}

#user-info-edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-group {
    width: 100%;
}

#input-group label {
    display: block;
    color: black;
    font-size: 18px;
    margin: 0 0 4px 3px;
}

#input-group label span {
    display: inline-block;
    color: var(--border-color);
    font-size: 12px;
    margin: 0 0 4px 3px;
}

#input-group input,
#input-group select {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    border-radius: 512px;
    outline: 0;
    color: var(--secondary-color);
}

#input-group input:focus {
    border-color: var(--primary-color);
}

#button-container button {
    width: 80px;
    height: 38px;
    margin: 15px 0;
    padding: 0;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 512px;
    cursor: pointer;
}