.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    color: #fff;
    min-width: 280px;
    max-width: 420px;
    margin: 75px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: var(--primary-color);
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 0;
    background-color: var(--primary-color);
}

.title::after {
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    padding: 5px;
    font-size: 18px;
    color: var(--secondary-color);
}

.signin {
    text-align: center;
}

.signin a {
    color: var(--primary-color);
}

.signin a:hover {
    text-decoration: underline var(--primary-color);
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 20px 5px 5px 20px;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 512px;
    font-size: medium;
    font-weight: 400;
    color: black;
    outline: none;
}

.form label .input + span {
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: 15px;
    color: var(--secondary-color);
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 12.5px;
}

.form label .input:focus + span,
.form label .input:valid + span {
    top: 5px;
    font-size: 14px;
    font-weight: 600;
}

.form label .input:focus + span {
    color: var(--primary-color);
}

.form label .input:valid + span {
    color: forestgreen;
    font-size: 13px;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 512px;
    margin-top: 35px;
    color: #fff;
    font-size: 16px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: var(--hover-color);
}

