@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }
    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

@media screen and (max-width: 1400px) {
    #container img {
        width: 800px;
    }
}

@media screen and (max-width: 1200px) {
    #container img {
        display: none;
    }
}