@media (max-width: 610px) {
    .post {
        padding: 10px 10px;
    }

    .category input[type=radio]+label {
        padding: 5px 12px;
        font-size: 14px;
    }

    .post-info-3 {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-info-3 .links,
    .post-info-3 .buttons {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .post-info-3 a {
        font-size: 14px;
        padding: 5px 12px;
    }

    .comment {
        padding: 15px;
    }

    .comment-info-1,
    .comment-info-2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .comment-info-1 img {
        width: 45px;
        height: 45px;
    }

    .comment-info-1 h3,
    .comment-info-2 h3 {
        font-size: 14px;
    }

    .user-comment {
        padding: 0;
    }

    #comment-field {
        width: 100%;
        height: 50px;
        margin: 15px 0;
        overflow: hidden;
        padding-bottom: 40px;
    }

    .comment-group {
        flex-direction: column;
        padding-bottom: 15px;
    }

    .new-comment {
        right: 15px;
        bottom: 25px;
        padding: 8px 15px;
        font-size: 14px;
    }
}